name: "Build NewPipe release"

on:
  workflow_dispatch:
    inputs:
      upstream_tag:
        description: "Upstream tag to build"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout self repo
        uses: actions/checkout@v6

      - name: Clone upstream NewPipe
        run: |
          set -e

          git clone --branch "${{ inputs.upstream_tag }}" \
            https://github.com/TeamNewPipe/NewPipe.git upstream

          EXT_TAG=$(awk -F'"' \
            '/^\s*teamnewpipe-newpipe-extractor/ {print $2}' \
            upstream/gradle/libs.versions.toml)

          echo "Extractor tag: $EXT_TAG"

          git clone --branch "$EXT_TAG" \
            https://github.com/TeamNewPipe/NewPipeExtractor.git NewPipeExtractor

      - name: Setup Java & Gradle cache
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Apply patch
        run: |
          python3 scripts/apply_patch.py \
            --newpipe upstream \
            --extractor NewPipeExtractor

      - name: Build release APK
        run: |
          cd upstream
          ./gradlew assembleRelease --stacktrace

      - name: Sign APK
        env:
          MY_KEYSTORE_B64: ${{ secrets.MY_KEYSTORE_B64 }}
          KEY_PASS: ${{ secrets.KEY_PASS }}
        run: |
          set -e

          cd upstream

          echo "$MY_KEYSTORE_B64" | base64 --decode > release.keystore

          APK_PATH=$(ls app/build/outputs/apk/release/*.apk | head -n1)
          
          VERSION_NAME=$(jq -r '.elements[0].versionName' app/build/outputs/apk/release/output-metadata.json)
          
          SIGNED_APK="app/build/outputs/apk/release/NewPipe_v${VERSION_NAME}.apk"

          apksigner sign --ks release.keystore \
            --ks-key-alias NPR \
            --ks-pass pass:$KEY_PASS \
            --key-pass pass:$KEY_PASS \
            --v2-signing-enabled true \
            --v3-signing-enabled true \
            --out $SIGNED_APK \
            $APK_PATH

          echo "Signed APK: $SIGNED_APK"

      - name: Generate latest.json
        run: |
          cd upstream

          python3 ../scripts/generate_json.py \
            --apk app/build/outputs/apk/release/*.apk \
            --version "$(jq -r '.elements[0].versionName' app/build/outputs/apk/release/output-metadata.json)" \
            --version-code "$(jq -r '.elements[0].versionCode' app/build/outputs/apk/release/output-metadata.json)"
          cat latest.json

      - name: Upload build artifact for testing
        uses: actions/upload-artifact@v6
        with:
          name: NewPipe-APK-test
          path: upstream/app/build/outputs/apk/release/*

      # - name: "Upload release & JSON"
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     files: |
      #       upstream/app/build/outputs/apk/release/*.apk
      #       upstream/latest.json
      #     tag_name: ${{ github.event.inputs.upstream_tag }}  # 或固定 latest
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

